<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PatternMatching.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <PatternMatching.Properties.Settings>
            <setting name="code_path" serializeAs="String">
                <value>C:\Users\IBM\Documents\visual studio 2015\Projects\Test1202\Test1202</value>
            </setting>
            <setting name="regex" serializeAs="String">
                <value>if\s*\(((?!\s*\{).+)\)\s*\{?(.|\s)*?\}?</value>
            </setting>
            <setting name="result_path" serializeAs="String">
                <value>C:\Users\IBM\Desktop\</value>
            </setting>
            <setting name="sample_name" serializeAs="String">
                <value>pexsamples-regex1-obfuscated-primtive</value>
            </setting>
        </PatternMatching.Properties.Settings>
    </applicationSettings>
</configuration>