<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleRoslynAnalysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.30.0" newVersion="1.0.30.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SimpleRoslynAnalysis.Properties.Settings>
        <setting name="NodeS_Network" serializeAs="String">
            <value>4</value>
        </setting>
        <setting name="Delayed_Crash_Upper_Bound_Sec" serializeAs="String">
            <value>20</value>
        </setting>
        <setting name="Log_Message" serializeAs="String">
            <value>Tamper detected in method:</value>
        </setting>
        <setting name="Ignore_Annotation" serializeAs="String">
            <value>@ignoreTransform</value>
        </setting>
        <setting name="Factory_Class_Name" serializeAs="String">
            <value>ClassFactory</value>
        </setting>
        <setting name="Response_Code" serializeAs="String">
            <value>CRASH 100, DELAYED_CRASH 50</value>
        </setting>
        <setting name="Path_To_Solution" serializeAs="String">
            <value>D:\THESIS\pex.samples\samples\Pex\samples.pex.sln</value>
        </setting>
        <setting name="Project_Name" serializeAs="String">
            <value>Samples.Pex</value>
        </setting>
        <setting name="Output_Dir" serializeAs="String">
            <value>D:\THESIS\STINS4CS_OUTPUT\</value>
        </setting>
        <setting name="Pex_Report_Path" serializeAs="String">
            <value>D:\THESIS\PEXWIZARD_OUTPUT\bin\Debug\reports\161029.184424.9872.pex\report.per</value>
        </setting>
        <setting name="UseprimitiveCombination" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="BoolCastMode" serializeAs="String">
            <value>3</value>
        </setting>
        <setting name="UseStackInspection" serializeAs="String">
            <value>True</value>
        </setting>
    </SimpleRoslynAnalysis.Properties.Settings>
  </applicationSettings>
</configuration>